$bg-color-white1: #ffffff;
$bg-color-white2: #ffffff80;
$bg-color-white3: #fafafa;
$bg-color-white4: #f7f8fa;
$bg-color-yellow: #e9d758;
$bg-color-red1: #e56768;
$bg-color-red2: #da5f60e6;
$bg-color-black1: #454545;
$bg-color-black2: #3d404f;
$bg-color-black3: #000000;
$bg-color-black4: #000000cc;

$text-color-white1: #ffffff;
$text-color-white2: #ffffffcc;
$text-color-yellow: #e9d758;
$text-color-green: #79b530;
$text-color-red: #e56768;
$text-grey1: #8b8b8a;
$text-grey2: #7f7f7f;
$text-grey3: #74777b;
$text-grey4: #70727e;
$text-grey5: #5c5e6c;
$text-grey6: #434959;
$text-black1: #454545;
$text-black2: #3d404f;
$text-black3: #3f3f3f;
$text-black4: #223441;
$text-black5: #252525;
$text-black6: #151515;
$text-black7: #000000;

$fill-white: #000000;
$fill-green1: #69de89;
$fill-green2: #82b541;
$fill-red: #e56768;
$fill-black: #000000;

$border-color-white: #ffffff;
$border-color-grey1: #ececee;
$border-color-grey2: #e5ecef;
$border-color-grey3: #eaeaea;
$border-color-grey4: #cccccc;
$border-color-yellow: #e9d758;
$border-color-green: #79b530;
$border-color-red: #e56768;
$border-color-black: #000000;
